
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    font-family: 'Playfair Display';
    font-weight: 400;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.nav-list-link{
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
color: #B4AD9E;
}
.picture-1 {
    width: 420px;
height: 280px;
}
.picture-2 {
    width: 420px;
height: 280px;
}
.picture-3 {
    width: 420px;
height: 280px;
}
.picture-4 {
    width: 420px;
height: 280px;
}
.picture-5 {
    width: 420px;
height: 280px;
}
.picture-6 {
    width: 419px;
height: 280px;
}
.lifestyle-1 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
color: #B4AD9E;
}
.festival {
font-style: normal;
font-size: 30px;
line-height: 40px;
color: #626262;
}
.lifestyle-2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;
}
.lifestyle-3 {
 font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;
}
.lifestyle-4 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
color: #B4AD9E;
}
.lorem-1 {
font-style: normal;
font-size: 14px;
line-height: 19px;
color: #626262;
}
.lorem-2{
font-style: normal;
font-size: 14px;
line-height: 19px;
color: #626262;
}
.lorem-3 {
font-style: normal;
font-size: 14px;
line-height: 19px;
color: #626262;
}
.lorem-5 {
font-style: normal;
font-size: 14px;
line-height: 19px;
color: #626262;
}
.lorem-4 {
font-style: normal;
font-size: 14px;
line-height: 19px;
color: #626262;
}
.lorem-6{
font-style: normal;
font-size: 14px;
line-height: 19px;
color: #626262;
}
.coffe {
font-style: normal;
font-size: 30px;
line-height: 40px;
color: #626262;

}
.dream {
font-style: normal;
font-size: 30px;
line-height: 40px;
color: #626262;
}
.Alps {
font-style: normal;
font-size: 30px;
line-height: 40px;
color: #626262;
}
.song {
font-style: normal;
font-size: 30px;
line-height: 40px;
color: #626262;
}
.winter{
font-style: normal;
font-size: 30px;
line-height: 40px;
color: #626262;
}
 .bt {
    width: 165px;
height: 60px;
border: 1px solid #626262;
}
.photodairy-2 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
color: #B4AD9E;
}
.photodairy-1 {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
color: #B4AD9E;
}